* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

body {
  /* height: 500vh; */
  width: 100%;
  font-size: 10px;
}

.page {
  display: grid;
  grid-template-columns: 10% 1fr;
  width: 100%;
}

.main-background {
  background-image: url(./images/piccolo.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}
.gradient {
  background: linear-gradient(
    90deg,
    rgba(162, 162, 162, 1) 0%,
    rgba(142, 142, 142, 0.20632002801120453) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100vh;
}

/* NAVIGATION */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  height: 90px;
}
.main-nav {
  display: flex;
}

li.menu-item {
  list-style: none;
  margin: 10px 20px;
}

a.menu-item-link {
  color: white;
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
}

a.menu-item-link.active {
  color: rgb(243, 171, 38);
  border-bottom: 2px solid orange;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

#main-header h1 {
  margin-bottom: 30px;
  font-size: 50px;
}

.short-about {
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Aside fixed po lewej */

.main-aside {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 10%;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.logo {
  padding: 1rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: yellow;
}
.fa-instagram,
.fa-facebook {
  font-size: 4rem;
  padding: 1rem;
}
.fa-facebook {
  margin-bottom: 1rem;
}
a.socials-link:visited,
a.socials-link:link,
a.socials-link:hover,
a.socials-link:active {
  color: yellow;
}

.welcome-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  color: white;
}

.h2 {
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

.opinions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/3;
  grid-row: 3/4;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 60px;
}

.opinions-list {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.opinion-card {
  border: 1px solid white;
  padding: 40px;
}

.card-head {
  color: white;
  padding: 20px;
}

.opinions h2 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
}

.opinions-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.opinion-card {
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-head img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-head h3 {
  margin-left:10px;
  font-size: 1.2em;
  color: white;
}

.card-body {
  font-size: 1em;
  color: white;
  line-height: 1.5;
}