* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	font-size: 10px;
	/* overflow: hidden; */
}

.layout {
	display: grid;
	grid-template-columns: 10% 1fr;
	grid-template-rows: 100vh 100vh 1fr 1fr;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.background-first-section-image {
	background-image: url(./images/piccolo.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	grid-column: 1/3;
	grid-row: 1/2;
}

.main-background {
	height: 100vh;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	grid-column: 2/3;
}
.gradient {
	background: linear-gradient(
		90deg,
		rgba(162, 162, 162, 1) 0%,
		rgba(142, 142, 142, 0.20632002801120453) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	height: 100vh;
}

/* NAVIGATION */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	height: 90px;
	z-index: 100;
}
.main-nav {
	display: flex;
}

li.menu-item {
	list-style: none;
	margin: 10px 20px;
}

a.menu-item-link {
	color: white;
	font-size: 1.7rem;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 5px;
}

a.active,
li.active {
	color: #f2c81e;
	border-bottom: 2px solid #f2c81e;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	position: relative;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 10% 1fr;
	grid-template-rows: 1fr 350px;
}

#main-header h1 {
	margin-bottom: 30px;
	font-size: 50px;
}

.short-about {
	padding: 10px;
	font-size: 20px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* Aside fixed po lewej */

.main-aside {
	display: flex;
	flex-direction: column;
	background-color: transparent;
	position: fixed;
	width: 10%;
	height: 100vh;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	grid-column: 1/2;
	z-index: 100;
}

.logo {
	padding: 1rem;
}

.icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	color: #f2c81e;
}
.icon-tabler {
	margin-bottom:  1rem;;
}

a.socials-link:visited,
a.socials-link:link,
a.socials-link:hover,
a.socials-link:active {
	color: #f2c81e;
}

/* Pierwsza sekcja */
.welcome-content {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	text-align: right;
	color: white;
	margin-top: 30px;
	margin-right: 90px;
}

.h2 {
	width: 100%;
	color: white;
	font-size: 1.5rem;
}

.opinions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	grid-column: 2/3;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 30px 60px;
	backdrop-filter: blur(5px);
}

.opinions-list {
	display: flex;
	justify-content: space-between;
	display: flex;
	width: 100%;
}

.opinion-card {
	border: 1px solid white;
	padding: 40px;
}

.card-head {
	color: white;
	padding: 10px;
}

.opinions h2 {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 10px;
}

.opinions-lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.opinion-card {
	width: 30%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

/* Karta opinii */
.card-head {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.card-head img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.card-head h3 {
	margin-left: 10px;
	font-size: 1.4rem;
	color: white;
}

.card-body {
	font-size: 1rem;
	color: white;
	line-height: 1;
}

/* Sekcja o nas */
.gradient-about-us {
	background: rgb(162, 162, 162);
	background: linear-gradient(
		125deg,
		rgba(162, 162, 162, 1) 0%,
		rgba(70, 70, 70, 0.7917542016806722) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	display: grid;
	grid-template-columns: 10% 1fr;
	grid-row: 2/3;
	grid-column: 1/3;
	height: 100vh;
}
.about-us {
	grid-row: 2/3;
	grid-column: 2/3;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.about-us-text-content {
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
	flex-basis: 50%;
}

.about-us-heading {
	margin-top: 10rem;
	color: #f2c81e;
	font-size: 1.6rem;
	text-align: left;
	flex-basis: 50%;
	padding: 4rem;
}

.about-us-heading h2 {
	border-bottom: 1px solid white;
	padding-bottom: 10rem;
}

.about-us-paragraphs {
	margin-top: 10rem;
	padding: 4rem;
	color: white;
	flex-basis: 50%;
}

.about-us-paragraphs p:first-child {
	margin-bottom: 2rem;
	font-size: 1.4rem;
}

.about-us-paragraphs p:last-child {
	font-size: 2rem;
	font-style: italic;
}

.about-us-image-content {
	margin: 1rem;
	display: flex;
	justify-content: space-around;
	padding: 0 1rem;
}

.pizza-about {
	width: 100%;
	height: 350px;
}

.about-us-first-image {
	width: 60%;
}
.about-us-second-image {
	width: 20%;
	position: relative;
}

.gallery-btn {
	position: absolute;
	bottom: 30px;
	right: 30px;
	background-color: transparent;
	color: #f2c81e;
	font-weight: bold;
	border: none;
	font-size: 1.3rem;
}

/* Menu */

.gradient-menu {
	display: grid;
	grid-template-columns: 10% 1fr;
	grid-column: 1/3;
	grid-row: 3/4;
	background: rgb(162, 162, 162);
	background: linear-gradient(
		125deg,
		rgba(162, 162, 162, 1) 0%,
		rgba(70, 70, 70, 0.7917542016806722) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.menu {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}

.main-menu-box h2 {
	text-align: center;
	color: white;
	font-size: 4rem;
	margin: 2rem 0;
	padding: 1rem 0;
	border-bottom: 0.1rem solid white;
	/* grafik border ^ */
}

.main-menu-list {
	display: flex;
	justify-content: space-around;
	width: 70vw;
	margin: 3rem 0;
}
.pizza-list-box {
	margin-top: 4rem;
}

.pizza-list-box h3{
	font-size: 3.5rem;
}

.li-pizza {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 2rem;
	font-size: 1.5rem;
	color: white;
}

.headings-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 11rem;
}

.add-to-cart-buttons button {
	padding: 1rem 1.5rem;
	font-size: 1.1rem;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 0.7rem;
	color: #f2c81e;
	background-color: transparent;
	transition: 0.3s;
	margin: 0 0.3rem;
}

li {
	list-style: none;
}

.li-menu {
	font-size: 2rem;
	color: white;
	cursor: pointer;
}
.menu-image {
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 50%;
}


/* galeria */
.gradient-gallery {
	display: grid;
	grid-template-columns: 10% 1fr;
	grid-column: 1/3;
	grid-row: 4/5;
	background: rgb(162, 162, 162);
	background: linear-gradient(
		125deg,
		rgba(162, 162, 162, 1) 0%,
		rgba(70, 70, 70, 0.7917542016806722) 0%,
		rgba(0, 0, 0, 1) 100%
	);
}

.gallery {
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}

.gallery h2 {
	text-align: center;
	color: white;
	font-size: 4rem;
}

.gallery i {
	text-align: center;
	color: white;
	font-size: 2rem;
}

.photos a {
	position: relative;
}


.photos i {
	text-align: center;
	color: white;
	font-size: 2rem;
	position: absolute;
	top: 10px;
	right: 10px;
}

.photos {
	text-align: center;
	margin: 3rem 15rem;
	display: flex;
	justify-content: space-around;
	opacity: 1;
	transition: .5 ease;
	backface-visibility: hidden;
}

.photos img:hover{
	opacity: 0.3;
}

.photos img{
	width: 200px;
	height: 200px;
}